@keyframes blink-caret {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.animate-caret::after {
    content: "|";
    display: inline-block;
    vertical-align: text-bottom;
    animation: blink-caret 1s step-end infinite;
}